@font-face {
    font-family: 'Lavishly Yours';
    src: url('/fonts/LavishlyYours-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('/fonts/SpaceGrotesk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DM Mono';
    src: url('/fonts/DMMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Caveat';
    src: url('/fonts/Caveat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}