html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}
body>.firstChildOfBody {
    height: 100%;
}
@font-face {
    font-family: 'Lavishly Yours';
    src: url('/fonts/LavishlyYours-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('/fonts/SpaceGrotesk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DM Mono';
    src: url('/fonts/DMMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Caveat';
    src: url('/fonts/Caveat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sacramento';
    src: url('/fonts/Sacramento.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Custom Cursor */
@media (pointer: fine) {

}

@media (pointer: coarse) {
    .blackhole-container {
        display: none !important;
    }
}